@import 'animate';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-padding-top: 82px;
}

body {
	position: relative;
	font-family: 'Montserrat', sans-serif;
	background-color: white;
}

nav {
	position: sticky;
	text-transform: uppercase;
	transition: background-color 0.6s;
	z-index: 12;

	a,
	i {
		color: black;
	}

	a:hover {
		color: #e725d0;
	}
}

header {
	color: white;
	.fa-chevron-down {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 600px;
		font-size: 30px;
		color: black;
	}
}

.logo {
	.carousel-indicators {
		bottom: 385px;
		width: 30%;
		left: 21%;
		button {
			background-color: black;
		}
	}
	.carousel-item {
		position: relative;
		height: 400px;
	}
	
}
.animation {
	margin-top: 10px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.link {
	text-align: center;
}