@import 'colors';
@import 'animate';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-padding-top: 82px;
}

body {
	position: relative;
	font-family: 'Montserrat', sans-serif;
	background-color: $bg-color;
}

nav {
	position: sticky;
	text-transform: uppercase;
	transition: background-color 0.6s;
	z-index: 12;

	a,
	i {
		color: black;
	}

	a:hover {
		color: $main-color;
	}

}

header {
	color: $white;
	.fa-chevron-down {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 190px;
		font-size: 30px;
		color: $white;
	}
}

.logo {
	.carousel-item {
		position: relative;
		padding-top: 20px;
		height: 400px;
	}
	
}
